<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Pranatah Foundation is dedicated to providing health and education to underprivileged students.">
    <meta name="keywords" content="Pranatah Foundation, NGO, health, education, charity">
    <meta name="robots" content="index, follow">
    <title>Pranatah Foundation - Health and Education for Poor Students</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pranatah NGO</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'causes' %}">Causes</a>
        <a href="{% url 'donate' %}">Donate</a>
        <a href="{% url 'contact' %}">Contact</a>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>
